{% extends "base.html" %}
{% load static %}

{% block content %}

  <header class="header-2">
    <div class="page-header min-vh-45 relative"style="background-image: url('{% static 'img/bg/lifebuoy.jpg' %}'); background-position: center 55%">
      {% include 'includes/waves.html' %}
    </div>
  </header>

  <section class="pt-3 pb-4 flex-fill">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 z-index-2 border-radius-xl mt-n9 mx-auto py-3 blur shadow-blur">
          <div class="mx-auto col-lg-9">

            <h4 class="pt-6 text-center">Password has been successfully changed!</h4>
            <a href="{% url 'club:index'%}"class="pt-3 pb-6 text-center d-block">Go to home page</a>

          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
