{% load static %}
{% load calendar_filters %}


<div class="px-3 py-1">
  <div class="pb-1">
    <h6 class="text-center text-bold text-dark">{% now "F" %}</h6>
    <div class="w-100 d-flex flex-nowrap justify-content-around text-center text-xs">

      <div class="w-10 text-bold text-dark">Mo</div>
      <div class="w-10 text-bold text-dark">Tu</div>
      <div class="w-10 text-bold text-dark">We</div>
      <div class="w-10 text-bold text-dark">Th</div>
      <div class="w-10 text-bold text-dark">Fr</div>
      <div class="w-10 text-bold text-secondary">Sa</div>
      <div class="w-10 text-bold text-danger">Su</div>

    </div>  
  </div>

  {% now "Y-m-t" as cur_month %}

  <div class="calendar
    calendar--start-day-{{ cur_month|first_day }}
    calendar--month-length-{% now 't' %}">

    {%now "d" as today %}
    {% for day in 31|range_list %}

      <div class="calendar__day
        {% if today|add:'0' == day %}
          calendar__active
        {% endif %}
        {% if day in planned_events %}
          calendar__planned
        {% endif %}
      ">
      
        {% if day in planned_events %}
          <div class="popup">
            {% for event in planned_events|get_items:day %}
            <a href="{{ event.get_absolute_url }}"
              class="popup_link text-dark text-sm">
              {{ event.date|date:"G:i" }} - {{ event.name }}
            </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
