<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item center">
      User: <a href="{% url 'club:profile' %}">{{ user.get_username }}</a>
    </li>

    <li class="list-group-item center">
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary rounded-pill px-3 py-0 ">
          Logout
        </button>
        <input type="hidden" name="next" value="{{ next }}">
      </form>
    </li>
    
  {% else %}


    <li class="list-group-item center">
      <a href="{% url 'login'%}" class="btn btn-primary rounded-pill px-3 py-0 bottom-5">Login</a>
    </li>

    <li class="list-group-item center">
      <span class="small">Or &nbsp;<a href="{% url 'club:member-create' %}">Sign in</a></span>
    </li>
  {% endif %}

  <br>

  <li class="list-group-item
            {{ home|yesno:'list-group-item-primary,' }}
  ">
    <a href="{% url 'club:index' %}">Home</a>
  </li>
  <li class="list-group-item
            {{ event_list|yesno:'list-group-item-primary,' }}
            {{ event|yesno:'list-group-item-primary,' }}
  ">
    <a href="{% url 'club:event-list' %}">Events</a>
  </li>

  {% if event_list or event %}
    <li class="list-group-item
              list-group-submenu
              {{ latest|yesno:'list-group-item-secondary,' }}
    ">
      <div class="  grey">&#8627; <a href="{% url 'club:event-archive' %}">Recent</a></div>
    </li>
  {% endif %}

  <li class="list-group-item
            {{ worktask_list|yesno:'list-group-item-primary,' }}
            {{ worktask|yesno:'list-group-item-primary,' }}
  ">
    <a href="{% url 'club:worktask-list' %}">Work Tasks</a>
  </li>

  {% if worktask_list or worktask %}
    <li class="list-group-item
              list-group-submenu
              {{ latest|yesno:'list-group-item-secondary,' }}
  ">
      <div class="  grey">&#8627; <a href="{% url 'club:worktask-archive' %}">Recent</a></div>
    </li>
  {% endif %}

  <li class="list-group-item
            {{ boat_list|yesno:'list-group-item-primary,' }}
            {{ boat|yesno:'list-group-item-primary,' }}
  ">
    <a href="{% url 'club:boat-list' %}">Boats</a>
  </li>
  <li class="list-group-item
            {{ member_list|yesno:'list-group-item-primary,' }}
            {{ member|yesno:'list-group-item-primary,' }}
  ">
    <a href="{% url 'club:member-list' %}">Members</a>
  </li>
</ul>
