<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: {{ user.get_username }}</li>

    <li class="list-group-item">
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary rounded-pill px-3 py-0 ">
          Logout
        </button>
        <input type="hidden" name="next" value="{{ next }}">
      </form>
    </li>
    
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'club:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'club:event-list' %}">Events</a></li>
  <li class="list-group-item"><a href="{% url 'club:worktask-list' %}">Work Tasks</a></li>
  <li class="list-group-item"><a href="{% url 'club:boat-list' %}">Boats</a></li>
  <li class="list-group-item"><a href="{% url 'club:member-list' %}">Members</a></li>
</ul>
