{% extends "bases/base_confirm_delete.html" %}

{% block confirmation %}

  <h3 class="text-center pt-5 pb-1">
    Delete {{ activity }}?
  </h3>

  <p class="text-center text-bold text-2xl text-primary pb-4">
    {% if event %}
      {{ event.name }}
    {% endif %}
    {% if worktask %}
      {{ worktask.name }}
    {% endif %}
  </p>

  <div class="d-flex justify-content-center pb-5">
    <form action="" method="post">
      {% csrf_token %}
      <input type="submit" value="Yes" class="btn bg-gradient-danger rounded-pill px-sm-5 px-4 py-2 me-sm-4 me-3">
      <input type="button" onclick="history.back()" value="Cancel" class="btn bg-gradient-secondary rounded-pill px-sm-5 px-4 py-2">
    </form>
  </div>

{% endblock confirmation %}
