{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}

  <h1 class="center">{{ object|yesno:"Edit,Add"}} Boat {{ boat.name }}</h1>

  {% if user.role %}

    <form action="" method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}


      {% for field in form %}
        {% if field.name != "image" %}
          {{ field|as_crispy_field }}
        {% endif %}
      {% endfor %}


      <div id="div_id_image" class="form-group">
        <label for="{{ form.image.id_for_label }}" class="">
          Image
        </label>

        {% if object.image %}
          <div>
            Currently: <a href="{{ boat.image.url }}">{{ boat.image.url|slice:"7:" }}</a>
            <input type="checkbox" name="image-clear" id="image-clear_id">
            <label for="image-clear_id">Clear</label><br>
            Change:
          </div>
        {% endif %}

        <div class="custom-file">
          <input type="file"
                name="{{ form.image.name }}"
                class="custom-file-input clearablefileinput"
                accept="image/*"
                id="{{ form.image.id_for_label }}">
          <label class="custom-file-label"
                for="{{ form.image.id_for_label }}"
                id="id_filename">Choose file</label>
        </div>
      </div>


      <button type="submit" value="submit" class="btn btn-primary rounded-pill px-2 py-0">
        Submit
      </button>

      <button type="button" onclick="history.back()" class="btn btn-primary rounded-pill px-2 py-0">
        Cancel
      </button>

    </form>

  {% else %}
    <br><br><hr>
    <h4 class="center">You don't have permission to see this page.</h4>
    <p class="center">Contact administrator for more info.</p>
    <hr>
  {% endif %}


  <script src="{% static 'scripts/boat_form_image.js' %}"></script>

  {% if user.role.management_rights %}
    <script src="{% static 'scripts/boat_form.js' %}" id="boat_form"
      {% if object %}
        {% if boat.club_owner %}
          data-club_owner=true
          data-user_id="{{ user.pk }}"
        {% else %}
          data-user_id="{{ boat.owner.pk}}"
        {% endif %}
      {% else %}
        data-user_id="{{ user.pk }}"
      {% endif %}
    ></script>
  {% endif %}

{% endblock %}
