{% extends "base.html" %}

{% block content %}

<h1 class="center">{{ event.name }}</h1>

<hr>

<p>
  Date: {{ event.date|date:"D, d N Y, H:i" }}

  {% if user.is_authenticated %}
    {% if not latest %}
      {% if user in event.participants.all %}

        <a href="{% url 'club:toggle-event-participation' pk=event.id %}" class="join_leave btn btn-danger rounded-pill px-2 py-0"> Leave event</a>
      {% else %}

        <a href="{% url 'club:toggle-event-participation' pk=event.id %}" class="join_leave btn btn-success rounded-pill px-2 py-0">Join event</a>
      {% endif %}
    {% else %}

      <span class="join_leave btn btn-secondary rounded-pill px-2 py-0">Event passed</span>
    {% endif %}
  {% endif %}

</p>
<p>Location: {{ event.location }}</p>

<hr>

<p>{{ event.description|linebreaksbr }}</p>


<p class="invites">

  {% if user.role.management_rights %}

    <a href="{% url 'club:event-update' pk=event.id %}" class="update_button btn btn-primary rounded-pill px-3 py-0">Edit</a>

    <a href="{% url 'club:event-delete' pk=event.id %}" class="delete_button btn btn-danger rounded-pill px-3 py-0">Delete</a>

  {% endif %}

  invites, {{ event.created_by }}
</p>

{% endblock %}
