{% extends "base.html" %}

{% block content %}
  <h1 class="center">Kraken Yacht Club Home</h1>
  <br>
  <h3 class="center">Unleash Your Spirit of Adventure!</h3>
  <br>
  <p class="justify">Embrace the spirit of adventure with Kraken Offshore Yacht Club—your home port for exploring the vast oceans. We specialize in advanced maritime training, professional yacht maintenance, and organizing world-class sailing events. Whether you are looking for a competitive racing crew or a secure berth in our hangar, you will always find fair winds at Kraken.</p>

  <h2 class="center">Upcoming Events</h2>
  <p>
    events
  </p>

{% endblock %}
