{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="center">{{ member }}</h1>

<br><br>

  <div class="members_detail">

    <div class="members_detail__column">


      <table class="members_detail__table">
        <tr>
          <td class="members_detail__table-cell">Role:</td>
          <td class="members_detail__table-cell">{{ member.role }}</td>
        </tr>
        <tr>
          <td class="members_detail__table-cell">Phone:</td>
          <td class="members_detail__table-cell">
            {% if phone_visible %}
              {{ member.phone }}
            {% else %}
              - - - 
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="members_detail__table-cell">E-mail:</td>
          <td class="members_detail__table-cell">{{ member.email }}</td>
        </tr>

        <tr>
          <td class="members_detail__table-cell">Sailing<br>permission:</td>
          <td class="members_detail__table-cell"><br>{{ member.sailing_permission.name }}</td>
        </tr>

        {% if member.boats_owned %}
            <tr>
            <td class="members_detail__table-cell">My boat{{ member.boats_owned.count|pluralize:"s" }}:</td>
            <td class="members_detail__table-cell">
              {% for boat in member.boats_owned.all %}

                <a href="{{ boat.get_absolute_url }}">{{ boat.name }}</a>
                <br>

              {% endfor %}
            </td>
          </tr>
        {% endif %}

        {% if member.boats_keeped %}
            <tr>
            <td class="members_detail__table-cell">Boat{{ member.boats_keeped.count|pluralize:"s" }} keeped:</td>
            <td class="members_detail__table-cell">
              {% for boat in member.boats_keeped.all %}

                <a href="{{ boat.get_absolute_url }}">{{ boat.name }}</a>
                <br>

              {% endfor %}
            </td>
          </tr>
        {% endif %}

      </table>

    </div>

    <div class="members_detail__column">

        {% if member.avatar %}

          <img src="{{ member.avatar.url }}" alt="avatar" class="members_detail__avatar">

        {% else %}

          <img img src="{% static 'images/placeholder_avatar.png' %}" alt="placeholder avatar" class="members_detail__placeholder">

        {% endif %}
      
    </div>

  </div>
  <br><br><hr><br>
  <div>

    {% if comming_events %}
      <h4>Signed to event{{ comming_events.count|pluralize:"s" }}:</h4>

      {% for event in comming_events.all %}
        <p>{{ event.name }} <i>@ {{ event.date }}</i></p>
      {% endfor %}

    {% endif %}


  </div>
  <div>

    {% if comming_worktask %}
      <h4>Signed to work task{{ comming_worktask.count|pluralize:"s" }}:</h4>

      {% for worktask in comming_worktask.all %}
        <p>{{ worktask.name }} <i>@ {{ worktask.date }}</i></p>
      {% endfor %}

    {% endif %}


  </div>

<br><br>

{% comment %} 
{% if user.role.management_rights or member == user %}

  <a href="{% url 'club:boat-update' pk=boat.id %}" class="update_button btn btn-primary rounded-pill px-3 py-0">Edit</a>

  <a href="{% url 'club:boat-delete' pk=boat.id %}" class="delete_button btn btn-danger rounded-pill px-3 py-0">Delete</a>

{% endif %}
 {% endcomment %}

{% endblock %}
