{% extends "base.html" %}
{% load static %}

{% block content %}

  <h1 class="center">{{ member }}</h1>

  <br><br>

  <div class="members_detail">
    <div class="members_detail__column">
      <table class="members_detail__table">
        <tr>
          <td class="members_detail__table-cell">Role:</td>
          <td class="members_detail__table-cell">{{ member.role }}</td>
        </tr>
        <tr>
          <td class="members_detail__table-cell">Phone:</td>
          <td class="members_detail__table-cell">
            {% if phone_visible %}
              {{ member.phone }}
            {% else %}
              - - - 
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="members_detail__table-cell">E-mail:</td>
          <td class="members_detail__table-cell">{{ member.email }}</td>
        </tr>
        <tr>
          <td class="members_detail__table-cell">Sailing<br>permission:</td>
          <td class="members_detail__table-cell"><br>
            {% if member.sailing_permission %}
              {{ member.sailing_permission.name }}
            {% else %}
              - - - 
            {% endif %}
          </td>
        </tr>

        {% if boats_owned %}
            <tr>
            <td class="members_detail__table-cell">My boat{{ boats_owned|pluralize:"s" }}:</td>
            <td class="members_detail__table-cell">
              {% for boat in boats_owned %}
                <a href="{{ boat.get_absolute_url }}">{{ boat.name }}</a>
                <br>
              {% endfor %}
            </td>
          </tr>
        {% endif %}

        {% if boats_keeped %}
            <tr>
            <td class="members_detail__table-cell">Boat{{ boats_keeped|pluralize:"s" }} keeped:</td>
            <td class="members_detail__table-cell">
              {% for boat in boats_keeped %}
                <a href="{{ boat.get_absolute_url }}">{{ boat.name }}</a>
                <br>
              {% endfor %}
            </td>
          </tr>
        {% endif %}
      </table>
    </div>

    <div class="members_detail__column">
        {% if member.avatar %}
          <img src="{{ member.avatar.url }}" alt="avatar" class="members_detail__avatar">
        {% else %}
          <img img src="{% static 'images/placeholder_avatar.png' %}" alt="placeholder avatar" class="members_detail__placeholder">
        {% endif %}
    </div>
  </div>

  <div class="member_detail__edit_button">
  
        {% if user.role.management_rights or member == user %}

          <a href="{% url 'club:member-update' pk=member.id %}" class="edit_profile btn btn-primary rounded-pill px-3 py-0">Edit profile</a>

        {% endif %}
  
  </div>

  <hr><br>

  <div>
    {% if comming_events %}
      <h4>Signed to event{{ comming_events|pluralize:"s" }}:</h4>
      {% for event in comming_events %}
        <p>
          <a href="{{ event.get_absolute_url }}">
            {{ event.name }} <i>@ {{ event.date }}</i>
          </a>
        </p>
      {% endfor %}
    {% endif %}
  </div>

  <div>
    {% if comming_worktask %}
      <h4>Signed to work task{{ comming_worktask|pluralize:"s" }}:</h4>
      {% for worktask in comming_worktask %}
        <p>
          <a href="{{ worktask.get_absolute_url }}">
            {{ worktask.name }} <i>@ {{ worktask.date }}</i>
          </a>
        </p>
      {% endfor %}
    {% endif %}
  </div>

  <br><br>

{% endblock %}
