{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

  <h1>
    {% if user.is_authenticated %}
      {% if user.pk == member.pk %}
        Update profile
      {% else %}
        {{ member|yesno:"Edit member profile,Create User"}}
      {% endif %}
    {% else %}
      Sign in
    {% endif %}

  </h1>


  <form action=""
        method="post"
        enctype="multipart/form-data"
        novalidate>

    {% csrf_token %}
  

    {% if user.role.management_rights %}
      {{ form.is_active|as_crispy_field }}
    {% endif %}


    {% for field in form %}
      {% if field.name not in custom_fields %}

        {{ field|as_crispy_field }}


        {% if field.name == "password2" %}
        <hr>
        {% endif %}

      {% else %}
        {% if field.name == "phone_visibility" %}

          <div class="custom-control custom-switch mb-3">
              <input type="checkbox"
                    class="custom-control-input"
                    id="{{ form.phone_visibility.id_for_label }}"
                    name="{{ form.phone_visibility.name }}"
                    {% if form.phone_visibility.value %}checked{% endif %}>
              <label class="custom-control-label"
                    for="{{ form.phone_visibility.id_for_label }}"
                    id="id_label_phone_visibility"></label>
          </div>
          <hr>

        {% endif %}
        {% if field.name == "avatar" %}

          <div id="div_id_avatar" class="form-group">
            <label for="{{ form.avatar.id_for_label }}" class="">
              Avatar
            </label>

        {% if object.avatar %}
          <div>
            Currently: <a href="{{ member.avatar.url }}">{{ member.avatar.url|slice:"15:" }}</a>
            <input type="checkbox" name="image-clear" id="image-clear_id">
            <label for="image-clear_id">Clear</label><br>
            Change:
          </div>
        {% endif %}

            <div class="custom-file">
              <input type="file"
                    name="{{ form.avatar.name }}"
                    class="custom-file-input clearablefileinput"
                    accept="image/*"
                    id="{{ form.avatar.id_for_label }}">
              <label class="custom-file-label"
                    for="{{ form.avatar.id_for_label }}"
                    id="id_filename">Choose file</label>
            </div>
          </div>

        {% endif %}
      {% endif %}
    {% endfor %}
  

    <button type="submit"
            value="submit"
            class="btn btn-primary rounded-pill px-2 py-0">
      {{ object|yesno:"Update,Create"}} 
    </button>

    <button type="button"
            onclick="history.back()"
            class="btn btn-primary rounded-pill px-2 py-0">
      Cancel
    </button>

  </form>


    {% load static %}
    <script src="{% static 'scripts/member_form.js' %}"></script>


{% endblock %}
