{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1 class="center">Our Members</h1>

  {% if user.role.management_rights %}

    <a href="{% url 'club:boat-create' %}" class="add_button btn btn-success rounded-pill px-2 py-0">Add</a>

  {% endif %}

  <table class="members_table">
    <tr>
      <th class="members_table__cell">Name</th>
      <th class="members_table__cell">Role</th>
      <th class="members_table__cell">Profile</th>
    </tr>

    {% for member in member_list %}
      {% if member.username != "admin" %}

        <tr>
          <td class="members_table__cell">{{ member}}</td>
          <td class="members_table__cell">{{ member.role }}</td>
          <td class="members_table__cell"><a href="{{ member.get_absolute_url }}">See profile</a></td>
        </tr>

      {% endif %}
    {% endfor %}

  </table>

{% endblock %}
