{% extends "base.html" %}

{% block content %}
  <h1 class="center">Upcoming Work Tasks</h1>
  <br>

  {% if user.role.management_rights %}

    <a href="{% url 'club:worktask-create' %}" class="add_button btn btn-success rounded-pill px-2 py-0">+</a>

  {% endif %}

  {% for worktask in worktask_list %}

    
    <h3>{{ worktask.name}}</h3>
    <h5>{{ worktask.date|date:"D, d N Y, H:i" }}</h5>
    <p>{{ worktask.description|linebreaksbr|truncatewords:30 }}</p>
    <a href="{{ worktask.get_absolute_url }}">Read more >></a>
    <hr>

  {% endfor %}

{% endblock %}
